* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.header {
  width: 100%;
  height: 60px;
  background-color: blue;
  position: fixed;
  top: 0;
  z-index: 999;
}

.app-name {
  line-height: 60px;
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
  float: left;
  color: white;
}

.top-menu {
  float: right;
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  line-height: 60px;
}

.top-menu-item {
  padding-left: 10px;
}

.top-menu-item a {
  text-decoration: none;
  color: white;
}

.top-menu-item a:hover {
  font-weight: bold;
}

.hide-item-open {
  float: right;
  line-height: 60px;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.hide-item-close {
  float: right;
  line-height: 60px;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.container {
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 100px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: blue;
  background: linear-gradient(to right, navy, rgb(27, 116, 250));
  background: -webkit-linear-gradient(to right, navy, rgb(27, 116, 250));
  background: -moz-linear-gradient(to right, navy, rgb(27, 116, 250));
}

.content {
  width: 50%;
  float: left;
  color: white;
  padding-right: 50px;
  padding-bottom: 20px;
}

.form-content {
  border: solid thin lightgrey;
  border-radius: 4px;
  width: 250px;
  padding: 20px;
  background-color: white;
  padding-bottom: 50px;
  float: left;
  margin-bottom: 20px;
}

.content h1 {
  font-size: 36px;
}

.content ul li {
  font-size: 24px;
  margin-top: 20px;
}

.input-field {
  border: solid thin lightgrey;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 3px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: solid thin blue;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(29, 29, 218);
}

form > p {
  margin-top: 10px;
  text-align: left;
}

form a {
  float: left;
}

.logo {
  width: 100px;
  height: 100px;
}

.icon {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 5px;
  margin-left: 40px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.todo-container {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  top: 60px;
  bottom: 0;
}

.todo-list {
  width: 200px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 5px;
  opacity: 0.8;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  top: 60px;
  transition: 0.5s;
}

.todo-list h2 {
  color: white;
  padding-left: 0;
}

.todo-list ul {
  list-style: none;
  clear: both;
  margin-left: 0;
  padding-left: 0;
  padding-top: 10px;
}

.todo-list ul li {
  color: white;
  padding: 10px;
  border-bottom: solid thin lightgrey;
  cursor: pointer;
}

.todo-list ul li:hover {
  background-color: lightgrey;
  color: black;
}

.btn-share {
  cursor: pointer;
  float: right;
  margin-top: 15px;
  margin-left: 5px;
}

.btn-share:hover {
  color: blue;
}

.btn-del {
  cursor: pointer;
  color: red;
}

.btn-del:hover {
  color: blue;
}

.main-content {
  position: absolute;
  left: 210px;
}

.todo-items {
  width: 50%;
  float: left;
  padding: 10px;
  border: solid thin lightgrey;
  border-radius: 4px;
  margin: 4px;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.todo-items h2 {
  text-align: left;
}

.todo-items ul {
  list-style-type: none;
  display: block;
  margin-bottom: 2px;
}

.todo-items ul li {
  padding: 8px;
  border-bottom: solid thin lightgray;
}

.todo-items-content {
  margin-left: 20px;
}

input[type='checkbox'] {
  float: left;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  margin-top: 5px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.grid-item {
  text-align: right;
}

.grid-desc {
  grid-row: 2 / span 2;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.item-date {
  color: grey;
  font-size: 12px;
  margin-top: 5px;
}

.task-name {
  font-size: 18px;
}

.new-item {
  width: 40%;
  float: left;
  padding: 10px;
  border: solid thin lightgrey;
  border-radius: 4px;
  margin: 4px;
  height: 85vh;
  background-color: white;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.new-item h2 {
  text-align: left;
}

.profile-header {
  width: 100%;
  height: 300px;
  background-color: skyblue;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-img-cell {
  line-height: 300px;
  padding-top: 60px;
  text-align: right;
}

.grid-cell {
  padding-top: 65px;
  text-align: center;
}

.grid-cell h1 {
  margin-top: 10px;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border: solid thin lightgrey;
  border-radius: 100%;
}

@media screen and (max-width: 999px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .todo-items {
    width: 50%;
  }

  .new-item {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  .content {
    width: 100%;
    color: white;
    padding-bottom: 20px;
  }

  .form-content {
    border: solid thin lightgrey;
    border-radius: 4px;
    width: 250px;
    padding: 20px;
    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 918px) and (max-width: 1097px) {
  .todo-items {
    width: 45%;
  }

  .new-item {
    width: 45%;
  }
}

@media screen and (max-width: 917px) {
  .todo-items {
    width: 90%;
  }

  .new-item {
    width: 90%;
  }
}

@media screen and (max-width: 615px) {
  body {
    width: 100%;
  }

  .todo-items {
    margin-top: 65px;
  }

  .top-menu {
    position: absolute;
    top: 60px;
    left: 210px;
    width: 400px;
    background-color: lightgray;
  }

  .top-menu-item {
    padding-left: 5px;
  }

  .top-menu-item a {
    text-decoration: none;
    color: blue;
  }

  .top-menu-item a:hover {
    font-weight: bold;
  }
}

@media screen and (min-width: 150px) and (max-width: 614px) {
  body {
    width: 100%;
  }

  .todo-items {
    margin-top: 65px;
  }

  .top-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: lightgray;
  }

  .top-menu-item {
    padding-left: 5px;
  }

  .top-menu-item a {
    text-decoration: none;
    color: blue;
  }

  .top-menu-item a:hover {
    font-weight: bold;
  }

  .todo-list {
    width: 0;
    padding: 0;
    opacity: 1;
    top: 124px;
    z-index: 1;
  }

  .main-content {
    left: 0;
  }

  .icon {
    margin-left: 5px;
  }

  .hide-item-open {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .show-hide {
    display: none;
  }
}
