* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background-color: blue;
  margin-bottom: 10px;
}

.app-name {
  line-height: 80px;
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.landing {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  border: solid thin lightgrey;
  border-radius: 4px;
  margin: 0 auto;
  width: 250px;
  padding: 20px;
  height: 400px;
}

.input-field {
  border: solid thin lightgrey;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 3px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: solid thin blue;
  border-radius: 4px;
  background-color: blue;
  color: white;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(43, 43, 197);
}

form > p {
  margin-top: 10px;
  text-align: left;
}

form a {
  float: left;
}

.logo {
  width: 80px;
  height: 90px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  margin: 20px 0 20px 0;
}
